.mapboxgl-map{
    position: relative;
    width: 99%;
    height: 95%;
    margin: auto;
    border: solid;
    border-color: darkgray;
    border-width: medium;
    float:left;
    text-align: left;
  }