.mapboxgl-map{
    position: relative;
    width: 98%;
    height: 98%;
    border: solid;
    margin: 5px;
    border-color: darkgray;
    border-width: medium;
    float:left;
    text-align: left;
  }